body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    margin: 0;
    flex-direction: column;
    margin: 20px;
    font-family: "Metropolis", sans-serif;
}
.heading{
width: 340.73px;
border: 0.9px;
justify-content: center;
display: flex;
align-items: center;
margin-top: 20px; 
}
hr{
    border: 0.9px solid  
    rgba(200, 200, 200, 1);
    flex: 1;
   
}
span{
    color:rgba(0, 127, 97, 1);
    position: absolute;
   background-color: white;
   font-family: "Metropolis", sans-serif;
   font-weight:500;
   font-size:16px;
  line-height: 18.08px;
  width:117px;
  height:18px;
   
}

#checkout1{
    display: flex;
    width: 340.73px;
    height: 74.11px;
    border-radius:3.62px;
    border-color: rgba(200, 200, 200, 1);
    border: 0.9px solid  rgba(200, 200, 200, 1);
    margin-top: 20px; 
    
}

#checkout2{
    display: flex;
    width:340.73px;
    height:74.11px;
    border-radius:3.62px;
    border-color: rgba(200, 200, 200, 1);
    border: 0.9px solid  rgba(200, 200, 200, 1);
    margin-top: 20px; 
    justify-content: space-between;
    
}

#checkout3{
    display: flex;
    width:340.73px;
    height:74.11px;
    border-radius:3.62px;
    border-color: rgba(200, 200, 200, 1);
    border: 0.9px solid  rgba(200, 200, 200, 1);
    margin-top: 20px; 
    
}


#radiotext1{

    margin: 18px;
    font-family: "Metropolis", sans-serif;
    padding-right: 6px
}

#radiotext2{

    margin: 18px;
    font-family: "Metropolis", sans-serif;
    padding-right: 72px;
    /* padding-top: 5px; */
}
#radiotext3{

    margin: 18px;
    font-family: "Metropolis", sans-serif;
    padding-right: 6px
}

#off1{
    margin-left: 109px;
    margin-top: 25px;
    font-weight:bold;
    font-family: "Metropolis", sans-serif;
}

#off2{
   
    font-weight: bold;
    font-family: "Metropolis", sans-serif;
    margin-right: 13px;
    padding-top: 0px;
}
#off3{
    margin-left: 109px;
    margin-top: 25px;
    font-weight:bold;
    font-family: "Metropolis", sans-serif;
     
}
/* #radioButton2{
   padding-top: 0px;
   margin-bottom: 50px;
} */

#represent1{
    display: none;
     /* display: flex; */
    flex-direction: column; 
    margin-left: -310px;
    margin-top: 60px;
}
#represent2{
    display: none;
    /* display: flex; */
    
    margin-top: 60px;
    margin-left: -325px;
    margin-right: 183px;
}
#represent3{
    display: none;
    /* display: flex; */
   flex-direction: column; 
   margin-left: -310px;
   margin-top: 60px;
}

th, td{
    text-align: left;
    font-weight: normal; 
    font-size:10.85px;
}
td{
    
    font-size: 10.85px;
}
#details{
    display: flex;
    margin-top: 20px;
}

#offer{
    color: rgba(0, 127, 97, 1);
    
 }
 #total{
    margin-left: 65px;
 }
#btn{
    color: white;
    width: 341px;
    background-color: rgba(0, 127, 97, 1);
    border-radius:  4px 4px 4px 0px ;
    height: 48px;
    margin-top: 20px;
    border : 0.9px solid rgba(0, 127, 97, 1);
    
}
/* input[type="radio"]:checked {
    background-color: rgba(0, 127, 97, 1); 
  } */

  input[type="radio"]:checked ~ #checkout1 {
    background-color:rgba(0, 127, 97, 1);
  }